*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


button{
    background-color: blueviolet;
    height: 40px;
    width: 80px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 350px;
    /* font-sizs :xxsmall 
    font-sizs :xxsmall  
    isy ye hoga ke bhut barr or bhut chota ho jayga xx ka mtlb he extra extra larg ya small */
}

.div{
    height: 0;
    width: 0;
    font-size: 0px;
    opacity: 0;
    margin-top:100px ;
    background-color: palevioletred;
}